@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fbebb5;
  --secondary: #faf4f4;
  --primary-inverted: #fff9e5;
  --muted: #9f9f9f;
  --danger: #ff2400;
  --warning: #ffa500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--primary-inverted);
  --color-muted: var(--muted);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .swiper-theme-container {
    position: relative;

    .swiper-wrapper {
      z-index: 0 !important;
      /* This rule will only apply to swiper-wrapper elements inside the container */
      &.swiper-continuous-autoplay {
        transition-timing-function: linear;
      }
      .swiper-slide {
        height: auto !important;
      }
    }

    .swiper-nav {
      /* This container for your buttons is now part of the theme */
      margin-top: 0;
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      pointer-events: none; /* Allows clicks to pass through */

      .swiper-button-prev,
      .swiper-button-next {
        pointer-events: all;
        cursor: pointer;
        color: var(--color-neutral-900);
      }
    }
  }

  .custom-swiper-pagination span {
    opacity: 0.5;
    background-color: var(--color-neutral-900);
    transition:
      opacity 0.3s,
      transform 0.3s;
  }
  .custom-swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.2);
    background-color: #facc15 !important;
  }
  .rating {
    span {
      width: 24px !important;
      height: 24px !important;
      font-size: 24px !important;
    }
  }
}
